<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" 
        href="/" style="padding-top: 50px;margin-bottom: 10px;">
      <div class="sidebar-brand-icon">
        <img src="/img/wizard.png" class="fas">
      </div>
      <img src="/img/logo.png" class="sidebar-brand-text">
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" style="padding-top: 20px;">

    <!-- Nav Item - Dashboard -->
    <li id="nav-dashboard" class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    
    <!-- Nav Item - Template -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTemplate" aria-expanded="true" aria-controls="collapseTemplate">
        <i class="fas fa-fw fa-file-code"></i>
        <span>Template</span>
      </a>
      <div id="collapseTemplate" class="collapse" aria-labelledby="headingTempalte" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="/template/create">Create</a>
          <a class="collapse-item" href="/template/import">Import</a>
          <a class="collapse-item" href="/template/list">List</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Hardware -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHardware" aria-expanded="true" aria-controls="collapseHardware">
        <i class="fas fa-fw fa-server"></i>
        <span>Hardware</span>
      </a>
      <div id="collapseHardware" class="collapse" aria-labelledby="headingTempalte" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="/hardware/create">Create</a>
          <a class="collapse-item" href="/hardware/import">Import</a>
          <a class="collapse-item" href="/hardware/list">List</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - FAQ -->
    <li class="nav-item" id="nav-faq">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-question-circle"></i>
        <span>FAQ</span>
      </a>
    </li>

    <!-- Divider for toggle -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
