<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Gaurav Gahlot">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

  <!--Code Mirror CSS-->
  <link href="/plugin/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css">

  <!-- Custom fonts for this template-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Set page title -->
  <title>{{ .Title }} | Tink-Wizard</title>

  <!-- Custom styles for this template-->
  <link href="https://gitcdn.link/repo/gauravgahlot/assets/master/css/style.min.css" rel="stylesheet">
  
  {{block "styles" .}}{{end}}
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    {{template "_header.html" .}}

    <!-- Bootstrap core JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.bundle.min.js"></script>
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Begin Page Content -->
          <div class="container-fluid">            
            <!-- TODO: Remove the <br> tag  -->
            <br>

            <!-- Alert -->
            <div id="alert" class="alert " role="alert">
            </div>

            <!-- Render content from /templates/content/*.html -->
            {{template "content" .}}      
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->     
        
        <!-- Footer -->
          {{template "_footer.html" .}}
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Core plugin JavaScript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>  

  <!-- Custom scripts for all pages-->
  <script src="https://gitcdn.link/repo/gauravgahlot/assets/master/js/script.min.js"></script> 
  <script>
    function displayAlert(status, message, category) {
      alert = document.getElementById("alert");
      alert.className = "alert alert-" + category;
      if (status == "") {
        alert.innerHTML = "<strong>" + message + ".</strong";
      } else {
        alert.innerHTML = "<strong>Oos! Got a " + status + "</strong>. " + message + ".";
      }
      $(alert).show();
      $(alert).delay(5000).hide('slow');
    }

    function updateNavbar(id_selected, id_parent) {
      $("#accordionSidebar>li.active").removeClass("active");
      $("#"+id_selected).addClass("active");
      $("#"+id_parent).addClass("show");
      $("#"+id_parent).parent().addClass("active");
    }
  </script>

  {{block "scripts" .}}{{end}}
</body>
</html>