{{ define "content" }}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-900">About Tink-Wizard</h1>
    </div>

    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
            <img src="/img/go-wip.png">
        </div>
    </div>

{{end}}

{{ define "scripts" }}
    <script>
        $("#accordionSidebar>li.active").removeClass("active");
        $("#nav-about").addClass("active");
    </script>
{{ end }}