{{ define "styles" }}
  <style>
    a:link, a:visited {
      text-decoration: none;
      cursor: pointer;
    }
    .btn {
      cursor: pointer;
    }
  </style>
{{ end }}

{{ define "content" }}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-900">Hardwares</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-lg-4">
        <!-- Hardware List -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Hardwares</h6>
          </div>

          <script>
            let selectedHardwareID = "";
          </script>
          <div class="container" id="hardware-list">
            {{ with .Hardwares }} 
              {{ range . }}
                <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a href="#hw-{{.ID}}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="hw-{{.ID}}">
                    <h6 class="m-0 font-weight-bold" style="color: rgb(142, 40, 6);">{{ .ID }}</h6>
                  </a>
                  <!-- Card Content - Collapse -->
                  <div class="collapse" id="hw-{{.ID}}" data-parent="#hardware-list">
                    <div class="card-body">
                      {{ range $key, $value := .Fields }}
                        <div>
                          <strong>{{ $key }}: </strong><span class="float-right">{{ $value }}</span>
                        </div>
                      {{ end }}
                    </div>
                  </div>
                </div>

                <script>
                  $("#hw-{{.ID}}").on("show.bs.collapse", function () {
                    selectedHardwareID = '{{.ID}}';
                    $.ajax({
                      'url' : '/hardware',
                      'type' : 'POST',
                      'data' : JSON.stringify({ id: selectedHardwareID}),
                      'success' : function(data) {             
                        document.getElementById("hardware-data").value = JSON.stringify(data, undefined, 4);
                        $('#edit-hardware').css("display", "inline");         
                      },
                      'error' : function(jqXHR) {
                        if (jqXHR.status == 400 || jqXHR.status == 404) {
                          displayAlert(jqXHR.status, jqXHR.responseText, "danger");
                          document.getElementById("hardware-data").value = "";                        
                        } else {
                          displayAlert(jqXHR.status, "Something went wrong! Please report this to https://github.com/gauravgahlot/tink-wizard/issues", "danger");
                          document.getElementById("hardware-data").value = "";                        
                        }
                      }
                    });
                  })
                </script>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div> <!-- end col hardware list -->

      <div class="col-lg-6">
        <!-- Hardware Data -->
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Hardware Data</h6>
            <div>
              <a id="edit-hardware" class="btn" style="display: none;" onclick="allowHardwareEdit()"><i class="fas fa-edit text-success"></i></a>
              <a id="update-hardware" class="btn" style="display: none;" onclick="updateHardware()"><i class="fas fa-file-upload text-warning"></i></a>
              <a id="cancel-edit" class="btn" style="display: none;" onclick="cancelEdit()"><i class="fas fa-times text-danger"></i></a>
            </div>
          </div>

          <!-- Card Body -->
          <div class="card-body">
            <div class="position-relative form-group apply_space" style="height:85%;">
              <textarea readonly class="form-control codemirror-textarea" id="hardware-data" rows="25" 
                  style="border: none; background-color: #fff;">
              </textarea>
            </div>
          </div>
          <!-- <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("hardware-data"), {
              matchBrackets: true,
              autoCloseBrackets: true,
              mode: {name: "javascript", json: true},
              lineWrapping: true
            });
          </script> -->

        </div>
      </div> <!-- end col hardware data -->
    </div> <!-- row end -->

{{end}}

{{ define "scripts" }}
  <script type="text/javascript" src="/plugin/codemirror/lib/codemirror.js"></script>
  <script src="/plugin/codemirror/mode/javascript/javascript.js"></script>  
  <script>
    updateNavbar("hw-list", "collapseHardware");

    let orgData = "";
    function allowHardwareEdit() {
      orgData = $('#hardware-data').val();
      $('#hardware-data').prop('readonly', false);
      $('#update-hardware').css("display", "inline");
      $('#cancel-edit').css("display", "inline");
      $('#edit-hardware').css("display", "none");
    }

    function cancelEdit() {
      $('#hardware-data').val(orgData);
      $('#hardware-data').prop('readonly', true);
      $('#edit-hardware').css("display", "inline");
      $('#update-hardware').css("display", "none");
      $('#cancel-edit').css("display", "none");
    }

    function updateHardware() {
      newData = $('#hardware-data').val();
      $.ajax({
        'url' : '/hardware/update',
        'type' : 'POST',
        'data' : JSON.stringify({ id: selectedHardwareID, data: newData}),
        'success' : function(data) { 
          displayAlert("", data, "success");
          $('#edit-hardware').css("display", "inline");
          $('#update-hardware').css("display", "none");
          $('#cancel-edit').css("display", "none");
        },
        'error' : function(jqXHR) {
          if (jqXHR.status == 400 || jqXHR.status == 404) {
            displayAlert(jqXHR.status, jqXHR.responseText, "danger");
          } else {
            displayAlert(jqXHR.status, "Something went wrong! Please report this to https://github.com/gauravgahlot/tink-wizard/issues", "danger");                   
          }
        }
      });
    }
  </script>
{{ end }}