{{ define "content" }}
  
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-900">Upload Template</h1>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <form onsubmit="return submitForm(event)">
        <div class="custom-file mb-3">
          <input type="file" accept=".tmpl" class="custom-file-input" id="customFile" name="filename">
          <label class="custom-file-label" for="customFile">Choose a template file</label>
        </div>
        <br/>
        <br/>
        <div class=row>
          <div class="col-sm-4" style="padding-top: 7px;">
            <label class="label">Template Name</label>
          </div>
          <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="text" id="template-name" class="form-control form-control-user" required>
          </div>
        </div>
        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>     
    </div>

    <div class="col-lg-6">
      <!-- Template Data -->
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Template Data</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="position-relative form-group apply_space" style="height:85%;">
            <textarea readonly class="form-control codemirror-textarea" id="template-data" rows="25" 
                style="border: none; background-color: #fff;">
            </textarea>
          </div>
        </div>
      </div>
    </div> <!-- end col template data -->      
  </div>

{{end}}

{{ define "scripts" }}
  <script type="text/javascript" src="/plugin/codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="/plugin/codemirror/mode/yaml/yaml.js"></script>
  <script>
    updateNavbar("tmpl-upload", "collapseTemplate");

    // read template data
    const file = document.getElementById('customFile');
    file.addEventListener('change', (event) => {
      const f = event.target.files[0];
      var reader = new FileReader();
      reader.onload = function(event) {
        $(".custom-file-input").siblings(".custom-file-label").html(f.name);
        data = event.target.result;
        document.getElementById("template-data").value = data;
      }
      reader.readAsText(f);
    });

    function submitForm(event) {
      var tmplName = document.getElementById("template-name").value;
      var tmplData = document.getElementById("template-data").value;
      var createRequest = { name: tmplName, data: tmplData};
      $.ajax({
        'url' : '/template/new',
        'type' : 'POST',
        'data' : JSON.stringify(createRequest),
        'success' : function(data) {
          displayAlert("", "New template created with ID: " + data, "success");
          document.getElementById("template-data").value = "";
          document.getElementById("template-name").innerHTML = "";
          $(".custom-file-input").siblings(".custom-file-label").html("");
          file.value = null;
        },
        'error' : function(jqXHR) {
          if (jqXHR.status == 500) {
            displayAlert(jqXHR.status, jqXHR.responseText, "danger");
          } else {
            displayAlert(jqXHR.status, "Something went wrong! Please report this to https://github.com/gauravgahlot/tink-wizard/issues", "danger");
          }
        }
      });
      return false;
    }
  </script>
{{ end }}
