{{ define "styles" }}
  <style>
    a:link, a:visited {
      text-decoration: none;
      cursor: pointer;
    }
    .btn {
      cursor: pointer;
    }
  </style>
{{ end }}

{{ define "content" }}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-900">Workflow Templates</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-lg-4">
        <!-- Template List -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Templates</h6>
          </div>

          <script>
            let selectedTemplateID = "";
          </script>
          <div class="container" id="template-list">
            {{ with .Templates }} 
              {{ range . }}
                <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a href="#tmpl-{{.ID}}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="tmpl-{{.ID}}">
                    <h6 class="m-0 font-weight-bold" style="color: rgb(142, 40, 6);">{{ .Name }}</h6>
                  </a>
                  <!-- Card Content - Collapse -->
                  <div class="collapse" id="tmpl-{{.ID}}" data-parent="#template-list">
                    <div class="card-body">
                      <div>
                        <strong>ID: </strong><span class="float-right">{{ .ID }}</span>
                      </div>
                      <div>
                        <strong>Updated: </strong><span class="float-right">{{ .LastUpdated }}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <script>
                  $("#tmpl-{{.ID}}").on("show.bs.collapse", function () {
                    selectedTemplateID = '{{.ID}}';
                    $.ajax({
                      'url' : '/template',
                      'type' : 'POST',
                      'data' : JSON.stringify({ id: selectedTemplateID}),
                      'success' : function(data) {             
                        document.getElementById("template-data").value = data;
                        $('#edit-template').css("display", "inline");         
                      },
                      'error' : function(jqXHR) {
                        if (jqXHR.status == 400 || jqXHR.status == 404) {
                          displayAlert(jqXHR.status, jqXHR.responseText, "danger");
                          document.getElementById("template-data").value = "";                        
                        } else {
                          displayAlert(jqXHR.status, "Something went wrong! Please report this to https://github.com/gauravgahlot/tink-wizard/issues", "danger");
                          document.getElementById("template-data").value = "";                        
                        }
                      }
                    });
                  })
                </script>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div> <!-- end col template list -->

      <div class="col-lg-6">
        <!-- Template Data -->
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Template Data</h6>
            <div>
              <a id="edit-template" class="btn" style="display: none;" onclick="allowTemplateEdit()"><i class="fas fa-edit text-success"></i></a>
              <a id="update-template" class="btn" style="display: none;" onclick="updateTemplate()"><i class="fas fa-file-upload text-warning"></i></a>
              <a id="cancel-edit" class="btn" style="display: none;" onclick="cancelEdit()"><i class="fas fa-times text-danger"></i></a>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="position-relative form-group apply_space" style="height:85%;">
              <textarea readonly class="form-control codemirror-textarea" id="template-data" rows="25" 
                  style="border: none; background-color: #fff;">
              </textarea>
            </div>
          </div>
        </div>
      </div> <!-- end col template data -->
    </div> <!-- row end -->

{{end}}

{{ define "scripts" }}
  <script type="text/javascript" src="/plugin/codemirror/lib/codemirror.js"></script>
  <script src="/plugin/codemirror/mode/yaml/yaml.js"></script>  
  <script>
    updateNavbar("tmpl-list", "collapseTemplate");

    let orgData = "";
    function allowTemplateEdit() {
      orgData = $('#template-data').val();
      $('#template-data').prop('readonly', false);
      $('#update-template').css("display", "inline");
      $('#cancel-edit').css("display", "inline");
      $('#edit-template').css("display", "none");
    }

    function cancelEdit() {
      $('#template-data').val(orgData);
      $('#template-data').prop('readonly', true);
      $('#edit-template').css("display", "inline");
      $('#update-template').css("display", "none");
      $('#cancel-edit').css("display", "none");
    }

    function updateTemplate() {
      newData = $('#template-data').val();
      $.ajax({
        'url' : '/template/update',
        'type' : 'POST',
        'data' : JSON.stringify({ id: selectedTemplateID, data: newData}),
        'success' : function(data) { 
          displayAlert("", data, "success");
          $('#edit-template').css("display", "inline");
          $('#update-template').css("display", "none");
          $('#cancel-edit').css("display", "none");
        },
        'error' : function(jqXHR) {
          if (jqXHR.status == 400 || jqXHR.status == 404) {
            displayAlert(jqXHR.status, jqXHR.responseText, "danger");
          } else {
            displayAlert(jqXHR.status, "Something went wrong! Please report this to https://github.com/gauravgahlot/tink-wizard/issues", "danger");                   
          }
        }
      });
    }
  </script>
{{ end }}