{{ define "styles" }}
  <style>
    .hardware-border {
      border-left: .25rem solid #4e73df!important;
      border-left-width: 0.25rem !important;
      border-left-style: solid !important;
      /* border-left-color: rgb(78, 115, 223) !important; */
    }
  </style>
{{ end }}

{{ define "content" }}

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-900">Create Workflow</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-5">
      <!-- Template List -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Choose a template</h6>
        </div>

        <div class="card-body">
          {{ with .Templates }} 
              {{ range . }}
                <div class="form-group">
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" id="radio-{{.ID}}" type="radio" name="template" value="{{.ID}}">
                    <label class="custom-control-label" for="radio-{{.ID}}">{{ .Name }}</label>
                  </div>  
                </div>
              {{ end }}
          {{ end }}
        </div>        
      </div><!-- end template list -->

      <!-- Hardware Devices -->
      <form onsubmit="return submitForm(event)">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Hardware Device(s)</h6>
        </div>

        <div class="card-body" id="devices">
        </div>      
      </div>
      <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </form>
    </div> <!-- end col -->

    <div class="col-lg-6">
      <!-- Template Data -->
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Template Data</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="position-relative form-group apply_space" style="height:85%;">
            <textarea readonly class="form-control codemirror-textarea" id="template-data" rows="25" 
                style="border: none; background-color: #fff;">
            </textarea>
          </div>
        </div>
      </div>
    </div> <!-- end col template data -->  
  </div> <!-- row end -->

{{end}}

{{ define "scripts" }}
  <script type="text/javascript" src="/plugin/codemirror/lib/codemirror.js"></script>
  <script src="/plugin/codemirror/mode/yaml/yaml.js"></script>  
  <script>
    updateNavbar("wf-create", "collapseWorkflow");
    
    var selectedTemplateID = "";
    $('input[type=radio][name=template]').change(function() {
      selectedTemplateID = this.value;
      $.ajax({
        'url' : '/workflow/define',
        'type' : 'POST',
        'data' : JSON.stringify({ id: selectedTemplateID}),
        'success' : function(data) {
          res = JSON.parse(data);
          document.getElementById("template-data").value = res.data;
          addDeviceSection(res.devices);
        },
        'error' : function(jqXHR) {
          if (jqXHR.status == 400 || jqXHR.status == 404) {
            displayAlert(jqXHR.status, jqXHR.responseText, "danger");
            document.getElementById("template-data").value = "";                        
          } else {
            displayAlert(jqXHR.status, "Something went wrong! Please report this to https://github.com/gauravgahlot/tink-wizard/issues", "danger");
            document.getElementById("template-data").value = "";                        
          }
        }
      });
    });

    var deviceKeys;
    function addDeviceSection(devices) {
      deviceKeys = devices;
      document.getElementById("devices").innerHTML = "";
      for (i = 0; i < devices.length; i++) {
        var randomColor = Math.floor(Math.random()*16777215).toString(16);
        const elementString = `
          <div class="card mb-4 hardware-border" style="border-left-color:#` +randomColor +` !important;">
            <div class="card-body row">
              <div class="col-sm-4" style="padding-top: 7px;">
              <label class="label">` + devices[i] + `</label>
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" required id="` + devices[i] + `" placeholder="Device MAC/IP address">
              </div>
            </div>
          </div>`
        document.getElementById("devices").innerHTML += elementString;
      }
    }

    function submitForm(event) {
      var devices = {};
      for (i=0; i < deviceKeys.length; i++) {
        devices[deviceKeys[i]] = document.getElementById(deviceKeys[i]).value;
      }
      var createRequest = { templateID: selectedTemplateID, devices: devices};
      $.ajax({
        'url' : '/workflow/new',
        'type' : 'POST',
        'data' : JSON.stringify(createRequest),
        'success' : function(data) {
          displayAlert("", "New workflow created with ID: " + data, "success");
          document.getElementById("template-data").value = "";
          document.getElementById("devices").innerHTML = "";
        },
        'error' : function(jqXHR) {
          if (jqXHR.status == 500) {
            displayAlert(jqXHR.status, jqXHR.responseText, "danger");
          } else {
            displayAlert(jqXHR.status, "Something went wrong! Please report this to https://github.com/gauravgahlot/tink-wizard/issues", "danger");
            document.getElementById("template-data").value = "";
            document.getElementById("devices").innerHTML = "";
          }
        }
      });
      return false;
    }
  </script>
{{ end }}
