{{ define "styles" }}
  <style>
    a:link, a:visited {
      text-decoration: none;
      cursor: pointer;
    }
    .btn {
      cursor: pointer;
    }
  </style>
{{ end }}

{{ define "content" }}

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-900">Workflows</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-4">
      <!-- Workflow List -->
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Workflows</h6>
          <div id="wf-actions" class="dropdown no-arrow" style="display: none;">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#" role="button" id="wf-details" 
                  data-toggle="modal" data-target="#wf-details-modal" title="Get workflow details">
                Details
              </a>
              <a class="dropdown-item" href="#" role="button" title="Create a duplicate workflow">Duplicate</a>
              <a class="dropdown-item" href="#" role="button" title="Delete workflow">Delete</a>
            </div>
          </div>    
        </div>

        <div id="wf-details-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Workflow Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, eos, accusamus delectus harum nostrum fugiat quas tempora excepturi nobis incidunt quisquam facilis, atque ullam. Quidem animi dolorem quasi facere suscipit.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, eos, accusamus delectus harum nostrum fugiat quas tempora excepturi nobis incidunt quisquam facilis, atque ullam. Quidem animi dolorem quasi facere suscipit.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <script>
          let selectedWorkflowID = "";
        </script>
        <div class="container" id="workflow-list">
          {{ with .Workflows }} 
            {{ range . }}
              <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#wf-{{.ID}}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="wf-{{.ID}}">
                  <h6 class="m-0 font-weight-bold" style="color: rgb(142, 40, 6);">{{ .Name }}</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse" id="wf-{{.ID}}" data-parent="#workflow-list">
                  <div class="card-body">
                    <div>
                      <strong>State: </strong><span class="float-right">{{ .State }}</span>
                    </div>
                    <div>
                      <strong>Template: </strong><span class="float-right">{{ .Template }}</span>
                    </div>
                    <div>
                      <strong>Created At: </strong><span class="float-right">{{ .CreatedAt }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <script>
                $("#wf-{{.ID}}").on("show.bs.collapse", function () {
                  selectedWorkflowID = '{{.ID}}';
                  $("#wf-actions").css("display", "inline");
                  $.ajax({
                    'url' : '/workflow',
                    'type' : 'POST',
                    'data' : JSON.stringify({ id: selectedWorkflowID}),
                    'success' : function(data) {             
                      document.getElementById("workflow-data").value = data;
                      $('#edit-workflow').css("display", "inline");         
                    },
                    'error' : function(jqXHR) {
                      if (jqXHR.status == 400 || jqXHR.status == 404) {
                        displayAlert(jqXHR.status, jqXHR.responseText, "danger");
                        document.getElementById("workflow-data").value = "";                        
                      } else {
                        displayAlert(jqXHR.status, "Something went wrong! Please report this to https://github.com/gauravgahlot/tink-wizard/issues", "danger");
                        document.getElementById("workflow-data").value = "";                        
                      }
                    }
                  });
                })
              </script>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div> <!-- end col workflow list -->

    <div class="col-lg-6">
      <!-- Workflow Data -->
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Workflow Data</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="position-relative form-group apply_space" style="height:85%;">
            <textarea readonly class="form-control codemirror-textarea" id="workflow-data" rows="25" 
                style="border: none; background-color: #fff;">
            </textarea>
          </div>
        </div>
      </div>
    </div> <!-- end col workflow data -->
  </div> <!-- row end -->

{{end}}

{{ define "scripts" }}
  <script type="text/javascript" src="/plugin/codemirror/lib/codemirror.js"></script>
  <script src="/plugin/codemirror/mode/yaml/yaml.js"></script>  
  <script>
    updateNavbar("wf-list", "collapseWorkflow");
    $("#wf-details").click(function() {
      alert("details clicked")
    });
  </script>
{{ end }}