{{ define "styles" }}
  <style>
    a:link, a:visited {
      text-decoration: none;
      cursor: pointer;
    }
    .btn {
      cursor: pointer;
    }
  </style>
{{ end }}

{{ define "content" }}

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-900">Workflows</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-4">
      <!-- Workflow List -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Workflows</h6>
        </div>

        <script>
          let selectedWorkflowID = "";
        </script>
        <div class="container" id="workflow-list">
          {{ with .Workflows }} 
            {{ range . }}
              <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#wf-{{.ID}}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="wf-{{.ID}}">
                  <h6 class="m-0 font-weight-bold" style="color: rgb(142, 40, 6);">{{ .Name }}</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse" id="wf-{{.ID}}" data-parent="#workflow-list">
                  <div class="card-body">
                    <div>
                      <strong>State: </strong><span class="float-right">{{ .State }}</span>
                    </div>
                    <div>
                      <strong>Template: </strong><span class="float-right">{{ .Template }}</span>
                    </div>
                    <div>
                      <strong>Created At: </strong><span class="float-right">{{ .CreatedAt }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <script>
                $("#wf-{{.ID}}").on("show.bs.collapse", function () {
                  selectedWorkflowID = '{{.ID}}';
                  $.ajax({
                    'url' : '/workflow',
                    'type' : 'POST',
                    'data' : JSON.stringify({ id: selectedWorkflowID}),
                    'success' : function(data) {             
                      document.getElementById("workflow-data").value = data;
                      $('#edit-workflow').css("display", "inline");         
                    },
                    'error' : function(jqXHR) {
                      if (jqXHR.status == 400 || jqXHR.status == 404) {
                        displayAlert(jqXHR.status, jqXHR.responseText, "danger");
                        document.getElementById("workflow-data").value = "";                        
                      } else {
                        displayAlert(jqXHR.status, "Something went wrong! Please report this to https://github.com/gauravgahlot/tink-wizard/issues", "danger");
                        document.getElementById("workflow-data").value = "";                        
                      }
                    }
                  });
                })
              </script>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div> <!-- end col workflow list -->

    <div class="col-lg-6">
      <!-- Workflow Data -->
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Workflow Data</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="position-relative form-group apply_space" style="height:85%;">
            <textarea readonly class="form-control codemirror-textarea" id="workflow-data" rows="25" 
                style="border: none; background-color: #fff;">
            </textarea>
          </div>
        </div>
      </div>
    </div> <!-- end col workflow data -->
  </div> <!-- row end -->

{{end}}

{{ define "scripts" }}
  <script type="text/javascript" src="/plugin/codemirror/lib/codemirror.js"></script>
  <script src="/plugin/codemirror/mode/yaml/yaml.js"></script>  
  <script>
    updateNavbar("wf-list", "collapseWorkflow");
  </script>
{{ end }}